/* MAIN LAYOUT */
header{
    width: 100%;
    float: left;
    font-family: Georgia, serif;
    text-align: center;
}

nav{
    width: 20%;
    float: left;
}

main{
    width: 60%;
    float: left;
    font-size: large;
    text-align: center;
}

main p{
    margin-top: 30px;
    text-indent: 25px;
}

main img {
    width: 35%;
    height: 35%;
    display: block;
    margin: 0 auto;
}

footer{
    width: 100%;
    float: left;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

table{
    margin: auto;
    border-collapse: collapse;
}

.error{
    color: red;
    font-weight: bold;
    font-size: small;
}

#h3create{
    font-family: Arial;
    margin-left: 50%;
    width: 500px;
}

.info{
    margin-left: 50%;
    font-family: Arial;
    border: 1px solid black;
    font-size: medium;
    margin-bottom: 25px;
    background-color: lightcyan;
    width: 500px;
    height: 200px;
}

#submit{
    margin-left: 600px;
    width: 200px;
}

#h3costumers{
    font-family: Arial;
    margin-left: 50%;
    width: 500px;
}

#list{
    width: 100%;
    height: 100%;
    padding: 25px;
    margin-left: 250px;
}

/* MENUS */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #555;
    color: white;
}

ul{
    border: 1px solid #555;
}

li{
    text-align: center;
    border-bottom: 1px solid #555;
}

li:last-child{
    border-bottom: none;
}